<div class="display-flex flex-column">
  {{#if onDashboard}}
  <div class="card flex-wrap">
    <form action="/api/blogposts/{{this.id}}?_method=PUT" method="POST" class="form new-post-form">
      <div class="card-header">
        <div class="form-group">
          <label for="post-title">Title:</label>
          <input class="form-input" type="text" id="post-title" name="title" value="{{this.title}}"></input>
        </div>
      </div>
      <div class="card-body">
        <div class="form-group">
          <label for="post-content">Content:</label>
          <textarea class="form-input" id="post-content" name="content">{{this.content}}</textarea>
        </div>
      <div class="form-group">
        <button type="submit" class="btn-styled">Edit</button>
      </div>
      </div> 
    </form>
    <form action="/api/blogposts/{{this.id}}?_method=DELETE" method="POST" class="form">
      <input type="hidden" name="_method" value="DELETE">
      <button type="submit" class="btn-styled">Delete</button>
    </form>
  </div>
  {{else}}
  <div class="card flex-wrap">
    <div class="card-header">
      <h3>{{this.title}}</h3>
      <p>Posted by {{this.creator.username }} on {{format_date this.date_created}}</p>
    </div>
    <p class="card-body">{{this.content}}</p>
  </div>
  <div class="card flex-wrap">
    <div class="card-header">
      <h3>Comments</h3>
    </div>
    {{#each comments}}
      <p class="card-body">"{{this.comment}}" <span>- Posted by {{this.user.username }} on {{format_date this.date_created}}</span></p>
    {{/each}}
  </div>
  <div class="card flex-wrap">
    <div class="card-header">
      <h3>Add Comment</h3>
    </div>
    <form action="/api/blogposts/{{this.id}}" method="POST" class="form new-post-form">
      <div class="form-group">
        <label for="comment">Comment:</label>
        <input class="form-input" type="text" id="post-title" name="comment" />
      </div>
        <div class="form-group">
          <button type="submit" class="mt-2 btn-styled">Submit</button>
      </div>
    </form>
  </div>
  {{/if}}
</div>